/* Global Variables */
:root {
  --main-color: #4db0ff;
  --main-color-alt: #3585c7;
  --section-background: #ececec;
  --section-alt-background: #fbfbfb;
  --main-transition: 0.5s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --transition-delay: 1s;
  --animation-time: 0.6s;
  --animation-alt-time: 5s;
  --icon-hight: 10%;
}
/* Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  transition: 1s;
  background-color: #22252d;
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* Header */
header {
  margin: 20px auto 0;
  width: fit-content;
  align-items: center;
}
header main {
  gap: 20px;
  padding: 5px;
  display: flex;
  border-radius: 24px;
  background-color: #292d36;
}
header main span {
  padding: 20px;
  cursor: pointer;
  user-select: none;
  border-radius: 50%;
}
header main span:hover {
  background-color: #3e4451;
}
header span i {
  font-size: 20px;
}
header span .fa-sun {
  color: #7c7e83;
}
header span .fa-moon {
  color: white;
}
/* body section */
section#body {
  margin-top: 170px;
}
#body main {
  padding: 10px;
}
#body #results {
  width: max-content;
  margin: 0 auto 50px;
}
#body #results span {
  display: block;
  text-align: end;
  font-weight: bold;
}
#body #results #type {
  font-size: 1em;
  color: #fbfbfb;
}
#body #results #final {
  font-size: 3em;
  color: white;
}
#body #buttons {
  margin: auto;
  width: fit-content;
}
#body #buttons table {
  padding: 10px;
  font-size: 1.9em;
  border-radius: 25px;
  border-spacing: 10px;
  background-color: #292d36;
}
@media (min-width: 768px) {
  #body #buttons {
    margin: 0;
    width: 100%;
  }
  #body #buttons table {
    width: 100%;
  }
}
@media (min-width: 992px) {
  #body #buttons {
    width: 70%;
    margin: auto;
  }
  #body #buttons table {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  #body #buttons {
    width: 40%;
    margin: auto;
  }
  #body #buttons table {
    width: 100%;
  }
}
#body table td {
  width: 50px;
  height: 50px;
  padding: 5px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  color: #f1f1f1;
  border-radius: 10px;
  background-color: #272b33;
  box-shadow: 0 0 3px #ffffff25;
  transition: 0.4s;
}
#body table td:hover {
  background-color: #3e4451;
}
#body table .td1 {
  color: #89f9e4;
}
#body table .td2 {
  color: #eb6565;
}